body,html,*{margin:0;padding:0;font-size: 28upx;}
.content{width:100%;padding:0;padding:0;color:#333333}
.clearBoth{clear:both}
.overflow_one{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.overflow_two{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2;overflow: hidden;}
.overflow_three{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:3;overflow: hidden;}
.overflow_four{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:4;overflow: hidden;}
.fontSize12{font-size: 12px;}
.fontSize13{font-size: 13px;}
.fontSize14{font-size: 14px;}
.fontSize15{font-size: 15px;}
.textCenter{text-align: center;}
.marginLeft2{margin-left: 2.5%}
.marginLeft5{margin-left: 5%}
.width95{width: 95%;}
.statusBox{width:100%;height:110upx;background: white;position: fixed;top:0;left: 0;z-index:10;}
.flexBox{display: flex;}
.flexWap{flex-wrap: wrap;}
.flexCenter{justify-content: center;}
.flexAround{justify-content: space-around;}
.flexBetween{justify-content: space-between;}
.flexHeightCenter{align-items: center;}
.content button{background: none;}